<nav class="navbar navbar-expand-lg nav">
  <div class="container d-flex justify-content-between w-100">
    <ul class="navbar-nav mr-auto d-flex justify-content-between">
      <li class="nav-item pointer">
        <p class="navbar-brand m-b-0 noselect" [routerLink]="['/dashboard']" routerLinkActive="active">Home</p>
      </li>
      <li class="nav-item pointer">
        <p class="navbar-brand m-b-0 noselect" [routerLink]="['/products']" routerLinkActive="active">Products</p>
      </li>
    </ul>
    <div>
      <p class="navbar-brand pointer" [routerLink]="['/admin']" routerLinkActive="active"><i class="fa fa-lock" aria-hidden="true"></i>
        <span class="m-l-5 noselect" >Admin</span></p>
      <p class="navbar-brand pointer" [routerLink]="['/my-account']" routerLinkActive="active" (click)="navigateToMyAccount()">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="m-l-5 noselect" >My Account</span></p>
      <p class="navbar-brand pointer position-relative">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="m-l-5 noselect">Cart</span>
        <span class="cart-count">{{totalCartCount}}</span>
      </p>
    </div>
  </div>
</nav>
