@import "variables";
.navbar-brand {
    font-size: 1rem;
}

.navbar-brand:focus {
    outline: none;
}

.nav {
    background-color: $choclate-color;
    color: $white-color;
}

.navbar-nav {
    flex-direction: row;
}

.active {
    color: darkgrey;
    text-decoration: underline;
}