@import "variables";

.products {
    margin-top: 80px;
}

.fa-star {
    color: orangered;
}

.in-stock, .no-stock{
    font-size: 12px;
    font-weight: 600;
}

.in-stock .fa-circle {
    color: darkgreen;
}

.no-stock .fa-circle {
    color: red;
}

.filters {
    width: 286px;
}

.w-18rem {
    width: 18rem;
}

.filters-styling {
    background-color: $light-grey;
    padding-bottom: 20px;
    padding-top: 20px;
}
.acordian {
    background-color: $light-grey;
}

.fa-filter {
    font-size: 30px;
    padding-top: 10px;
}
