.doted {
    // border-width: 2px;
    // border-style: dotted dashed;
    // height: 250px;
    border-style: dashed;
    height: 266px;
    width: 320px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

;
.a-color-tertiary {
    color: #767676!important;
}

