<!-- <div class="container main">
  <div class="row m-b-10 action-buttons">
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-outline-primary m-t-10" (click)="open()">Create Address</button>
    </div>
  </div>
</div> -->
<h3 class="a-spacing-medium">Your Addresses</h3>
<div class="card border-secondary mb-3" class="doted" style="max-width: 18rem;">
  <div class="card-body">
    <form>
      <div class="d-flex justify-content-center">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gMfFBUB8Kc3yAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAABmJLR0QA/wD/AP+gvaeTAAAAP0lEQVRYw+3UsQkAMAwDsPz/o29pHkjnlCKDV6PJVb8myZkKBgYGBgYGBvYg7Da+VTAwMD8GBgYGBgYGBraWBpeqjFTlGtDAAAAAAElFTkSuQmCC"
          (click)="open()" />
      </div>
      <h2 class="a-color-tertiary">Add address</h2>
    </form>
  </div>
  <br><br>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header d-flex justify-content-center"><b>HOME</b>
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-info" href="#" aria-label="Delete">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="card-body">
      <span><b>Nageswararao Mokkarala</b></span><br>
      <span>H:no:15-2-117/1</span><br>
      <span>Street:gayathrinagar</span><br>
      <span>Area : P.W.D coloney </span><br>
      <span>City :macherla</span><br>
      <span>Disrict & State:Guntur, A.P</span>
    </div>
  </div>
</div>
