 <div class="container main">
    <div class="row m-b-10 action-buttons">
        <div class="col-sm-6 m-t-10">
            <form style="width: 180px">
                <div class="form-group">
                    <input type="text" placeholder="Search by Name or ID" class="form-control">
                </div>
            </form>
        </div>
        <div class="col-sm-6 m-t-10 text-right ">
            <button class="success m-t-10" class="btn btn-outline-primary" (click)="open()">Create Category</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Category</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Updated Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories ">
                    <th scope="row">{{category.id}}</th>
                    <td>{{category.category}}</td>
                    <td>{{category.CreatedDate}}</td>
                    <td>{{category.UpdatedDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>