<div class="d-flex flex-wrap  justify-content-center align-items-center">
    <div class="card m-t-100" style="width: 70rem;">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Add Catagory</button>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Catagory</th>
                            <th scope="col">Createddate</th>
                            <th scope="col">Updateddate</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of items">
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{ item.catagory }}</td>
                            <td>{{ item.currentdate| date }}</td>
                            <td>{{ item.updateddate | date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>