 

<div class="container">

 

    <div class="row">


        <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
            <div class="card text-white bg-info mb-3 cursor" routerLink="/admin/category-list">
                <div class="card-header text-center"><h4>Categories</h4></div>
                

                <div class="card-body">
                    <div class="d-flex justify-content-start">
                  <h5 class="card-title">Active <span class="count">40</span></h5> 
                </div>
                  <div class="d-flex justify-content-end">
                    <h5 class="card-title">Inactive <span class="count">32</span></h5> 
                  </div>
               
                </div>

              </div>
        </div>

        

        <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
            <div class="card text-white bg-primary mb-3 cursor" routerLink="/admin/products-list">
                <div class="card-header text-center"><h4>Products</h4></div>
                <div class="card-body">
                    <div class="d-flex justify-content-start">
                  <h5 class="card-title">Active <span class="count">34</span></h5> 
                </div>
                  <div class="d-flex justify-content-end">
                    <h5 class="card-title">Inactive <span class="count">3</span></h5> 
                  </div>
               
                </div>
              </div>
        </div>
 
    </div>
 
</div>
