@import "variables";


.filters {
    width: 286px;
}

.w-18rem {
    width: 18rem;
}

.filters-styling {
    background-color: $light-grey;
    padding-bottom: 20px;
    padding-top: 20px;
}
.acordian {
    background-color: $light-grey;
}

.fa-filter {
    font-size: 30px;
    padding-top: 10px;
}