@import "variables";

.title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
    text-decoration: underline;
}


.fa-star {
    color: orangered;
}
.fa-shopping-cart {
    font-size: 26px;
}
.cart-count {
    background-color: #ff7e00;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 60%;
    padding: 1px;

}

.comment-username {
    font-size: 18px;
    font-weight: bold;
}

.comment-card {
    width: 100%;
    background-color: #e6e6fa40;
}