<div class="container m-t-70">
  <div class="card m-t-30">
    <div class="card-body">

      <form action="" [formGroup]="productForm" (ngSubmit)="createProduct()" >
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" formControlName="name" placeholder="Enter Product Name" class="form-control" id="name">&nbsp;
            <small *ngIf=" productForm.get('name').touched && productForm.get('name').hasError('required')" class="  text-danger">Product Name is required</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="number">M.R.P Price</label>
            <input type="number" formControlName="mrp" (input)="discountAmt('mrp')" placeholder="Enter M.R.P Price" class="form-control" id="number">&nbsp;
            <small *ngIf=" productForm.get('mrp').touched && productForm.get('mrp').hasError('required')" class="  text-danger">M.R.P Price is required</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for=" ">Discount Price</label>
            <input type="number" formControlName="discountPrice" (input)="discountAmt('price')" placeholder="Enter discount price" class="form-control" id="number">&nbsp;
            <small *ngIf="productForm.get('discountPrice').touched && productForm.get('mrp').hasError('required')" class="  text-danger">Please Enter M.R.P Price First</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for=" ">Discount</label>
            <input type="number" formControlName="discountPricepercentage" (input)="discountAmt('percentage')" placeholder="Enter discount price in percentage" class="form-control" id="number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="number ">Cost</label>
            <input type="number" readonly  formControlName="cost" placeholder="Enter cost after discount price" class="form-control" name="cost">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for=" ">Available stock</label>
            <input type="number"  formControlName="availableStock" class="form-control" placeholder="Enter number of stocks">
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <label>Select stock status</label>
          <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"  value="yes" name="isStockAvailable" formControlName="isStockAvailable"  class="custom-control-input" >
              <label class="custom-control-label" for="yes">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" value="no"  name="isStockAvailable" formControlName="isStockAvailable" class="custom-control-input" >
              <label class="custom-control-label" for="no">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="upload-image">
          <div #image class="image-wrapper"></div>
          <div class="browse-btn">
            <input type="file" name="cameraImg" id="cameraImg" (change)="onSelectedFile($event)" />
            <div class="browse-image">
              <img src="{{productImg}}" width="60px" />
              <p>Browse image</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label>Product Description</label>
        <textarea class="form-control" rows="2"></textarea> 
      </div>
      <div class="d-flex justify-content-end action-buttons m-t-10 ">
        <button type="button" class="btn btn-dark" [routerLink]="['/admin/products-list']">Cancel</button>
        <button type="submit"  [disabled]="!productForm.valid"  class="btn btn-primary m-l-16 ">Create</button>
      </div>
    </form>


    </div>
  </div>
</div>
