.flexItems {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    div{
margin-top: 5px;

    }
    input{
        min-width: 200px;
        display: block;
        padding: 0 5px;
    }
}