<div class="d-flex flex-wrap  justify-content-center align-items-center">
    <div class="card m-t-50" style="width: 22rem;">
        <div class="card-body">
            <div class="d-flex flex-wrap  justify-content-center align-items-center">
                <p class="custom">Login</p>
            </div>
            <form>
                <div class="form-group">
                    <label for="loginEmail1">Email </label>
                    <input type="email" class="form-control" id="loginEmail1">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                        <a routerLink="/my-account/registration" class="btn btn-link ">Registration</a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/my-account/forgot-password" class="btn btn-link">Forgot Password?</a>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>


    </div>
</div>